<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&lt/mewi.dev&gt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <h1 class="mewi text">&lt/mewi.dev&gt</h1>
        <div class="buttons">
            <a class="button-like text" href="/download">
                Download
            </a>
            <a class="button-like text" href="/upload">
                Upload
            </a>
        </div>
    </div>
</body>
</html>